body {
    margin-top: 200px;
    background-color: rgb(139, 156, 156);
}
.content {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #338097;
}
header {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}
input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

#output {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    background-color: rgb(236, 228, 150);
    justify-content: center;
}
